# Virtual Environment
venv/
env/
ENV/
.env

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases & MLflow
*.db
backend/data/*.db
mlruns/
.mlflow/

# Streamlit/OS junk
.streamlit/config.toml
.DS_Store
Thumbs.db
.vscode/
.idea/