run = "cd backend && pip install -r requirements.txt && uvicorn src.app:app --host 0.0.0.0 --port 8000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend && uvicorn src.app:app --host 0.0.0.0 --port 8000"]
deploymentTarget = "cloudrun"
